.Acesso {
	.content {
		text-align: left;

		span.line {
			display: inline-flex;
			margin-bottom: 40px;
			font-size: 18px;

			&:after {
				content: "";
				border-bottom: 2px solid #444;
				width: 35px;
				margin: auto 20px;
			}
		}

		h2 {
			color: #444;
			font-weight: 900;
			font-family: "Lato";
		}
		p {
			font-family: "Lato";
			color: #444;
			font-weight: 300;
			margin: 22px 0;
			width: 90%;
			line-height: 1.3;
		}
	}
	img {
		z-index: 4;
		width: 50%;
		margin-top: -376px;
		float: right;
		color: black;
	}

	&._flex {
		display: flex;
		padding: 260px 0 400px 0;

		.content {
			display: block;
			width: 80%;
			text-align: left;
			margin: 0 auto;
			h2 {
				font-weight: 900;
			}
		}
		img {
			position: absolute;
			left: 0;
			top: 400px;
			display: inline-block;
		}
	}

	@media only screen and (max-width: 1920px) {
		img {
			z-index: 4;
			width: 50%;
			margin-top: -170px;
			float: right;
		}
	}

	@include breakpoint(0, 1440px) {
		&._flex {
			padding: 200px 0 300px 0;
		}
	}
	@include breakpoint(0, $md) {
		.content {
			h2 {
				width: 80%;
			}
		}
		img {
			width: 43%;
			margin-top: -30px;
		}

		&._flex {
			padding: 150px 0;

			img {
				width: 46%;
				top: 240px;
			}

			.content {
				width: 100%;
				h2 {
					width: 90%;
				}
			}
		}
	}
}
