.Banner {
	.content {
		text-align: left;
		padding-top: 350px;

		h1 {
			color: #ffffff;
			font-weight: 600;
			font-family: "Lato";
			width: 70%;
		}
		p {
			font-family: "Lato";
			color: #ffffff;
			font-weight: 300;
			margin: 22px 0;
			width: 80%;
		}
	}

	&._gray {
		position: absolute;
		width: 100%;
		left: 0;
		padding: 1363px 0;
		background-size: cover;
		background-repeat: no-repeat;
		z-index: -1;
	}

	@media only screen and (max-width: 1920px) {
		.content {
			padding-top: 300px;
		}
	}

	@include breakpoint(0, 1440px) {
		.content {
			padding-top: 250px;
			h1 {
				width: 60%;
			}
		}
		&._gray {
			padding: 1100px 0;
			background-size: contain;
		}
	}
	@include breakpoint(0, $md) {
		.content {
			margin-bottom: 70px;
			padding-top: 150px;
			h1 {
				width: 70%;
			}
		}
		&._gray {
			padding: 900px 0;
			width: 100%;
			left: 0;
		}
	}
	@include breakpoint(0, $sm) {
		.content {
			margin-top: 70px;
			padding-top: 60px;
			h1 {
				width: 60%;
			}
			p {
				width: 60%;
			}

			.Button {
				margin-top: 0;
				width: 132px;
				font-size: 1rem;
			}
		}
		&._gray {
			padding: 743px 0;
			width: 100%;
			left: 0;
		}
	}
	@include breakpoint(0, $xs) {
		.content {
			h1,
			p {
				width: 92%;
			}
			.Button {
				margin-top: 0;
				width: 100px;
				font-size: 1rem;
				height: 30px;
				line-height: 30px;
				padding: 0 10px;
			}
		}
	}
}
