
.icon-ok:before { content: '\e800'; } /* '' */
.icon-left-open-big:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\e803'; } /* '' */
.icon-instagram:before { content: '\e80b'; } /* '' */
.icon-twitter:before { content: '\e80d'; } /* '' */
.icon-logo_ripio:before { content: '\e817'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */