//Background Body
body {
	background-repeat: no-repeat;
	background-position: center top;
	background-size: contain;
}

// GERAL
.container {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Lato", "Nunito";
}
p {
	font-weight: 300;
}

._justify-between {
	justify-content: space-between;
}
